.line-height-1 {
  line-height: 1;
}

.material-icons.small {
  font-size: 80%;
}

.toast {
  position: fixed;
  right: 0.5rem;
  min-width: 15rem;
  top: 3.5rem;
  z-index: 1000;
}

#join-room-box {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
#join-room-input::-webkit-outer-spin-button,
#join-room-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#join-room-input[type="number"] {
  -moz-appearance: textfield;
}

#video-header {
  height: 3rem;
}

.video-tile-actions {
  left: 0;
  top: 0;
  z-index: 1;
}

.video-tile-action {
  width: 2.5rem;
  height: 2.5rem;
}

#video-panel-container {
  height: calc(100vh - 9rem);
}

#video-panel-footer {
  left: 0;
  bottom: 0;
  height: 6rem;
}

.video-panel-action {
  width: 4rem;
  height: 4rem;
}

#chat-dialog-body {
  min-height: calc(100vh - 12rem);
}

.chat-tile-group {
  margin-bottom: 0.5rem;
}

.chat-tile-container {
  margin-bottom: 0.25rem;
}

.chat-tile {
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  font-size: 90%;
  max-width: 75%;
  line-height: 1.25;
  text-align: left;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: #f8f9fa;
  color: #000000;
}

.chat-tile.self {
  background-color: #007bff;
  color: #ffffff;
}

.chat-time {
  float: right;
  margin: 10px 0 -5px 5px;
  opacity: 0.5;
  font-size: 70%;
}

@media only screen and (min-width: 992px) {
  #join-room-box {
    width: 50%;
  }
}
