.line-height-1 {
  line-height: 1;
}

#join-room-box {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
#join-room-input::-webkit-outer-spin-button,
#join-room-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#join-room-input[type="number"] {
  -moz-appearance: textfield;
}

#video-header {
  height: 3rem;
}

#video-panel-container {
  height: calc(100vh - 9rem);
}

#video-panel-footer {
  left: 0;
  bottom: 0;
  height: 6rem;
}

.video-panel-action {
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 992px) {
  #join-room-box {
    width: 50%;
  }
}
